<div
  id="{{message.messageId}}"
  class="message
    {{#if message.first}}first-message{{/if}}
    {{#if message.last}}last-message{{/if}}
    {{#if message.isFromOtherUser}}left-side{{/if}}"
>
  <div id="{{message.messageId}}" class="message__body">
    <span id="{{message.messageId}}" class="message__body__username">
      {{message.authorName}}
    </span>
    <span id="{{message.messageId}}" class="message__body__text">
      {{message.text}}
    </span>
    <span id="{{message.messageId}}" class="message__body__meta">
      <span id="{{message.messageId}}" class="timedate">
        {{message.datetime}}
      </span>
    </span>
  </div>
  <div id="{{message.messageId}}" class="message__avatar">
    <img id="{{message.messageId}}" class="message__avatar__img" src="{{message.avatarURL}}" />
  </div>
  <div class="menu-context"></div>
</div>