<div
  id="{{message.messageId}}"
  class="message
    {{#if message.first}}first-message{{/if}}
    {{#if message.last}}last-message{{/if}}
    {{#if message.isFromOtherUser}}left-side{{/if}}"
    oncontextmenu="return false;"
>
  <div class="message__body">
    <span class="message__body__username">
      {{message.authorName}}
    </span>
    <div class="message__contents contents">
      {{#if message.sticker}}
        <img class="message-sticker" src={{message.sticker}} />
      {{else}}
        {{#if message.photos}}
          <div class="contents__photos-wrapper">
            {{#each message.photos}}
              <a href={{url}}>
              <img class="message-photo" src={{url}} />
              </a>
            {{/each}}
          </div>
        {{/if}}
        <span class="contents__text" id="message-text-content">
          {{message.text}}
        </span>
        {{#if message.files}}
          <div class="contents__files-wrapper">
            {{#each message.files}}
              <a class="message-file" href={{url}}>
                <div class="message-file__upper-row">
                  <img class="message-file__icon" src="/assets/image/attached-file.svg" />
                  <div class="message-file__info">
                    <div class="message-file__meta">
                      <span class="message-file__extention">{{extention}}</span>
                      <span class="message-file__size">{{size}}</span>
                    </div>  
                    <span class="message-file__name">{{name}}</span>
                  </div>
                </div>
              </a>
            {{/each}}
          </div>
        {{/if}}
      {{/if}}
    </div>
    <span class="message__body__meta">
      <span id="redacted" class="edited hidden">изменено</span>
      <span class="timedate">
        {{message.datetime}}
      </span>
    </span>
  </div>
  
  {{#if message.isFromOtherUser}}
    <div class="message__avatar">
      <img class="message__avatar__img" src="{{message.avatarURL}}" />
    </div>
  {{/if}}
  
  <div id="menu-context" class="menu-context"></div>
</div>