<div
  id="{{message.messageId}}"
  class="message
    {{#if message.first}}first-message{{/if}}
    {{#if message.last}}last-message{{/if}}
    {{#if message.isFromOtherUser}}left-side{{/if}}"
    oncontextmenu="return false;"
>
  <div class="message__body">
    <span class="message__body__username">
      {{message.authorName}}
    </span>
    <span id="message-text-content" class="message__body__text">
      {{message.text}}
    </span>
    <span class="message__body__meta">
      <span id="redacted" class="edited hidden">изменено</span>
      <span class="timedate">
        {{message.datetime}}
      </span>
      {{#if chatIsNotBranch}}
      <div id="branch" class="message-branch">
        <img class="message-branch__img" src="/assets/image/branch-icon.png" alt="">
        <span class="message-branch__span">
          100  
        </span>
      </div>
      {{/if}}
    </span>
  </div>
  
  {{#if message.isFromOtherUser}}
    <div class="message__avatar">
      <img class="message__avatar__img" src="{{message.avatarURL}}" />
    </div>
  {{/if}}
  
  <div id="menu-context" class="menu-context"></div>
</div>