<div
  id="{{message.messageId}}"
  class="message
    {{#if message.first}}first-message{{/if}}
    {{#if message.last}}last-message{{/if}}
    {{#if message.isFromOtherUser}}left-side{{/if}}"
    oncontextmenu="return false;"
>
  <div class="message__body">
    <span class="message__body__username">
      {{message.authorName}}
    </span>
    <span class="message__body__text">
      {{message.text}}
    </span>
    <span class="message__body__meta">
      <span class="timedate">
        {{message.datetime}}
      </span>
    </span>
  </div>
  <div class="message__avatar">
    <img class="message__avatar__img" src="{{message.avatarURL}}" />
  </div>
  <div id="menu-context" class="menu-context"></div>
</div>