<a id="{{chat.chatId}}" class="chat-card" href={{chat.chatId}}>
  <img class="chat-card__img" src="{{avatar}}" />
  <div class="chat-card__info">
    <div class="info__upper-row">
      <span class="upper-row__chat-name">
        {{chat.chatName}}
      </span>
      <span class="upper-row__date-time">
        {{chat.lastMessage.datetime}}
      </span>
    </div>
    <div class="info__lower-row">
      <span class="lower-row__message">
        {{chat.lastMessage.text}}
      </span>
    </div>
  </div>
</a>