<a class="chat-card-href" href={{chat.chatId}}>

    <div class="chat-card">
    <img class="chat-card-img" src="{{chat.avatarURL}}" />

    <div class="chat-card-upper-row">
        <div class="main-text-container">
        <span class="chat-name">
            {{chat.chatName}}
        </span>
        </div>
        <div class="side-text-container">
        <span class="last-message-date">
            Окт 10
        </span>
        </div>
    </div>
    <div class="chat-card-lower-row">
        <div class="main-text-container-lower">
        <span class="last-messanger-name">
            {{chat.chatName}}
        </span>
        <span class="split-column">:&nbsp;</span>
        <span class="last-message">
            {{chat.lastMessage}}
        </span>

        </div>
        <div class="side-text-container-lower">
        <span class="last-message-date">
        </span>
        </div>

    </div>
    </div>
</a>