<div class="group-info">
  <div class="group-info-header">
    <div class="group-header-images">

        <img class="group-info-header__img" src="{{avatar}}" alt="" />
      
        {{#if userType.owner}}
        <img
          id="update-group"
          class="group-update-image__img"
          src="/assets/image/update-group.svg"
          alt=""
        />
        {{/if}}
    
    </div>
    <span class="group-info-header__span-group-name">{{chat.chatName}}</span>
    <span class="group-info-header__span">{{#if chatType.channel}}Канал{{/if}}{{#if chatType.group}}Группа{{/if}}</span>
  </div>
  <div class="group-content">
    <div class="group-content-header">
      <span class="group-content-header__span">Участники</span>
      &nbsp
      <span id="users-count" class="users-count">{{usersCount}}</span>

      {{#if chatType.group}}  
      <button id="add-user" class="group-content-header__button">+ Пригласить</button>
      {{/if}}
    </div>
    <div class="horizontal-line-container">
      <hr class="horizontal-line" />
    </div>
    <div id="users-list" class="users-list">

    </div>
  </div>
  <button id="delete-group" class="delete-group__button">{{#if userType.owner}}{{#if chatType.group}}Удалить группу{{else}}Удалить канал{{/if}}{{else}}{{#if chatType.group}}Выйти из группы{{else}}Выйти из канала{{/if}}{{/if}}</button>
  <button id="subscribe-channel" class="subscribe-channel__button" style="display: none;">Подписаться</button>
  <div id="modal-container">

  </div>
</div>