<a class="chat-searched-message" id="{{message.messageId}}" href="{{message.messageId}}">
  <img class="chat-searched-message__img" src="{{avatar}}" />
  <div class="chat-searched-message__info">
    <div class="info__upper-row">
      <span class="upper-row__chat-name">
        {{person}}
      </span>
      <span class="upper-row__date-time">
        {{message.datetime}}
      </span>
    </div>
    <div class="info__lower-row">
      <span class="lower-row__message">
        {{message.text}}
      </span>
    </div>
  </div>
</a>