<a class="chat-searched-message" id="{{message.messageId}}" href="{{message.messageId}}">
  <img id="{{message.messageId}}" class="chat-searched-message__img" src="{{avatar}}" />
  <div id="{{message.messageId}}" class="chat-searched-message__info">
    <div id="{{message.messageId}}" class="info__upper-row">
      <span id="{{message.messageId}}" class="upper-row__chat-name">
        {{person}}
      </span>
      <span id="{{message.messageId}}" class="upper-row__date-time">
        {{message.datetime}}
      </span>
    </div>
    <div id="{{message.messageId}}" class="info__lower-row">
      <span id="{{message.messageId}}" class="lower-row__message">
        {{message.text}}
      </span>
    </div>
  </div>
</a>