<div class="chat-info-column">
  <div class="chat-info">
    <div class="chat-info-header">
      <img
        id="chat-info-close-button"
        class="chat-info-close-button-img"
        src="/assets/image/cancel.svg"
        alt=""
      />
      <img class="chat-info-header__img" src="{{profileUser.avatarURL}}" alt="" />
      <span class="chat-info-header__span-user-name">{{profileUser.name}}</span>
      <span class="chat-info-header__span-online-status">online</span>
    </div>
    <div class="chat-user-info">
      <div class="chat-user-birthday">
        <span class="chat-user-birthday__span-description span-description">Дата
          рождения</span>
        <span class="chat-user-birthday__span">{{birthdate}}</span>
      </div>
      <div class="chat-user-bio">
        <span
          class="chat-user-bio__span-description span-description"
        >Описание</span>
        <span class="chat-user-bio__span">{{profileUser.bio}}</span>
      </div>
    </div>
  </div>
  <div class="content-buttons">
      <div class="content-button" id="group-content-photos">
        <span class="content-button__name">
          Фото
        </span>
      </div>
      <div class="content-button" id="group-content-files">
        <span class="content-button__name">
          Файлы
        </span>
      </div>
    </div>
    <div class="content-carousel">
      <div class="content-tabs" id="content-tabs">
        <div class="content-tab photos-list" id="photos-list">
          {{#each chat.photos}}
            <a href={{url}}>
              <img class="message-photo" src={{url}} />
            </a>
          {{/each}}
        </div>
        <div class="content-tab files-list" id="files-list">
          {{#each chat.files}}
            <a class="message-file" href={{url}}>
              <div class="message-file__upper-row">
                <img class="message-file__icon" src="/assets/image/attached-file.svg" />
                <div class="message-file__info">
                  <div class="message-file__meta">
                    <span class="message-file__extention">{{extention}}</span>
                    <span class="message-file__size">{{size}}</span>
                  </div>  
                  <span class="message-file__name">{{name}}</span>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <button id="delete-chat" class="delete-chat-btn__button">
    Удалить чат
  </button>
</div>